/venv/
/.idea/
/files/
/conf_files/
/Опорная сетка.docx
/output/
/contours/
/main.exe
/main.spec
__pycache__
/src/visualization/qtsample.ui
/src/main.spec
/Опорная_сеть.exe
/src/dist/
/src/build/
/input/
/src/visualization/qtsample2.ui
/Методичка ОС.docx
/src/my_database.db
/src/test.py
