/venv/
/.idea/
/files/
/conf_files/
/output/
/input
/contours/
/main.exe
/main.spec
__pycache__
Опорная сеть.exe
requirements.txt
/src/test.py
/src/untitled.py
/src/visualization/qtsample.ui
/src/build/
/src/dist/
/src/main.spec
/Опорная_сеть.exe
